## Import Libraries

In [1]:
import sqlite3
import os
import pandas as pd

## Connect to the Database

In [2]:
connect = sqlite3.connect('../../Database.db')   ###The database directory goes ('here')
cursor = connect.cursor()

## Select from a Table

In [20]:
query1 = """
        SELECT * 
        FROM B3_table
        LIMIT 1
        """

cursor.execute(query1)
cursor.fetchall()

[(283804, 0.0, 0.0)]

In [40]:
query2 = """
        SELECT *
        FROM B4_table
        WHERE coilId = 290491
        LIMIT 10
        """
seg = 0
for row in cursor.execute(query2):
        print (f"length-coordinate for segment {seg} = {row[1]}")
        seg = seg + 1

length-coordinate for segment 0 = 0.0
length-coordinate for segment 1 = 0.274124
length-coordinate for segment 2 = 0.5479120000000001
length-coordinate for segment 3 = 0.8218120000000001
length-coordinate for segment 4 = 1.095936
length-coordinate for segment 5 = 1.370284
length-coordinate for segment 6 = 1.644856
length-coordinate for segment 7 = 1.919092
length-coordinate for segment 8 = 2.193216
length-coordinate for segment 9 = 2.46678

In [41]:
query3 = """ 
        SELECT distinct coilId
        FROM B5_table
        LIMIT 20
        """

for item in cursor.execute(query3):
        print(f"coilId: {item[0]}")

coilId: 283801
coilId: 283798
coilId: 283800
coilId: 283806
coilId: 283804
coilId: 283802
coilId: 283818
coilId: 283816
coilId: 283820
coilId: 283809
coilId: 283807
coilId: 283803
coilId: 283805
coilId: 283819
coilId: 283817
coilId: 283815
coilId: 283813
coilId: 283811
coilId: 283821
coilId: 283823

In [42]:
query4 = """ 
        SELECT count (distinct coilId)
        FROM B3_table
        """

cursor.execute(query4)
total = cursor.fetchone()[0]

print(f"total number of coils in table B3 is {total}")

total number of coils in table B3 is 25131

In [28]:
query5 = """ 
        SELECT analyse
        FROM CoilDataInput
        WHERE coilId = 283802
        """

cursor.execute(query5)
cursor.fetchone()[0]

'KN41'

## Join from another Table

In [36]:
query6 = """ 
        SELECT B4_Table.CoilId, CoilDataInput.Hardness_1
        FROM B4_Table
        JOIN CoilDataInput on B4_table.coilId = CoilDataInput.coilId
        GROUP BY B4_Table.CoilId
        LIMIT 10
        """

cursor.execute(query6)
cursor.fetchall()

[(283798, 11509),
 (283800, 10785),
 (283801, 11395),
 (283802, 11446),
 (283803, 11304),
 (283804, 10785),
 (283805, 10836),
 (283806, 12389),
 (283807, 12405),
 (283808, 13040)]