In [1]:
import sqlite3
import os
import pandas as pd

## Create each tables

In [2]:
# define connection and cursor
connexion = sqlite3.connect("database_B345.db")
cursor = connexion.cursor()

cursor.execute('''
        CREATE TABLE IF NOT EXISTS Table_B34
        (ID  INTEGER PRIMARY KEY AUTOINCREMENT,
        _FileId INTEGER,
        _SegmentNr INTEGER,
        Snelheid_EW FLOAT,
        B3_Time_Based FLOAT,
        B3_Abs_Plaus_Time FLOAT,
        B4_Time_Based FLOAT,
        B4_Abs_Plaus_Time FLOAT,
        lengthCoordinate FLOAT,
        B3 FLOAT,
        B4 FLOAT)
        ''')
print("database created")
connexion.commit()

cursor.execute('''
        CREATE TABLE IF NOT EXISTS Table_B5
        (ID  INTEGER PRIMARY KEY AUTOINCREMENT,
        _FileId INTEGER,
        _SegmentNr INTEGER,
        Snelheid_HA FLOAT,
        lengthCoordinateB5 FLOAT,
        B5 FLOAT,
        B5_Abs_Plaus_Time FLOAT,
        B5_Time_Based FLOAT
        )
        ''')
print("database created")
connexion.commit()

database created
database created

## Import CSV file of each tables

In [3]:
import csv

file = open('dataB34_test_10k_data.csv', 'r')
reader_B34 = csv.reader(file)
for row in reader_B34:
    cursor.execute('''
        INSERT INTO Table_B34(_FileId, _SegmentNr, Snelheid_EW, B3_Time_Based, B3_Abs_Plaus_Time, B4_Time_Based, B4_Abs_Plaus_Time, lengthCoordinate, B3, B4)
        VALUES(?,?,?,?,?,?,?,?,?,?)
        ''', row)
connexion.commit()

In [4]:
file = open('dataB5_test_10k_data.csv', 'r')
reader_B5 = csv.reader(file)
for row in reader_B5:
    cursor.execute('''
        INSERT INTO Table_B5(_FileId, _SegmentNr, Snelheid_HA, lengthCoordinateB5, B5, B5_Abs_Plaus_Time, B5_Time_Based)
        VALUES(?,?,?,?,?,?,?)
        ''', row)
connexion.commit()

In [ ]:
file = open('table2.csv', 'r')
reader = csv.reader(file)
for row in reader:
    cursor.execute('''
        INSERT INTO table3(_FileId, _SegmentNr, Snelheid_HA, B5_Abs_Plaus_Time, B5_Time_Based, lengthCoordinate, B5)
        VALUES(?,?,?,?,?,?,?)
        ''', row)
connexion.commit()

## Test table1, 2, 3

In [5]:
cursor.execute('''
        SELECT * FROM Table_B34
        LIMIT 30
        ''')
cursor.fetchall()

[(1,
  '_FileId',
  '_SegmentNr',
  'Snelheid_EW',
  'B3_Time_Based',
  'B3_Abs_Plaus_Time',
  'B4_Time_Based',
  'B4_Abs_Plaus_Time',
  'lengthCoordinate',
  'B3',
  'B4'),
 (2, 1651941735, 0, 6232.9, 0.0, 0.0, 0.0, 0.0, 0.249316, 0.0, 0.0),
 (3, 1651941735, 1, 6232.9, 0.0, 0.0, 0.0, 0.0, 0.249316, 0.0, 0.0),
 (4, 1651941735, 2, 6235.6, 0.0, 0.0, 0.0, 0.0, 0.498632, 0.0, 0.0),
 (5, 1651941735, 3, 6246.4, 0.0, 0.0, 0.0, 0.0, 0.748056, 0.0, 0.0),
 (6, 1651941735, 4, 6246.4, 0.0, 0.0, 0.0, 0.0, 0.997912, 0.0, 0.0),
 (7, 1651941735, 5, 6241.0, 0.0, 0.0, 0.0, 0.0, 1.247768, 0.0, 0.0),
 (8, 1651941735, 6, 6235.6, 0.0, 0.0, 0.0, 0.0, 1.497408, 0.0, 0.0),
 (9, 1651941735, 7, 6230.2, 0.0, 0.0, 0.0, 0.0, 1.7468320000000002, 0.0, 0.0),
 (10, 1651941735, 8, 6243.7, 0.0, 0.0, 0.0, 0.0, 1.9960400000000005, 0.0, 0.0),
 (11, 1651941735, 9, 6243.7, 0.0, 0.0, 0.0, 0.0, 2.245788, 0.0, 0.0),
 (12, 1651941735, 10, 6235.6, 0.0, 0.0, 0.0, 0.0, 2.495536, 0.0, 0.0),
 (13, 1651941735, 11, 6232.9, 0.0, 0.0, 0.0, 0.0, 2.74496, 0.0, 0.0),
 (14, 1651941735, 12, 6243.7, 0.0, 0.0, 0.0, 0.0, 2.994276, 0.0, 0.0),
 (15, 1651941735, 13, 6251.8, 0.0, 0.0, 0.0, 0.0, 3.244024, 0.0, 0.0),
 (16, 1651941735, 14, 6243.7, 0.0, 0.0, 0.0, 0.0, 3.494095999999999, 0.0, 0.0),
 (17,
  1651941735,
  15,
  6241.0,
  0.0,
  0.0,
  0.0,
  0.0,
  3.7438439999999993,
  0.0,
  0.0),
 (18, 1651941735, 16, 6235.6, 0.0, 0.0, 0.0, 0.0, 3.993483999999999, 0.0, 0.0),
 (19, 1651941735, 17, 6241.0, 0.0, 0.0, 0.0, 0.0, 4.242907999999999, 0.0, 0.0),
 (20, 1651941735, 18, 6235.6, 0.0, 0.0, 0.0, 0.0, 4.492547999999999, 0.0, 0.0),
 (21, 1651941735, 19, 6241.0, 0.0, 0.0, 0.0, 0.0, 4.741972, 0.0, 0.0),
 (22, 1651941735, 20, 6241.0, 0.0, 0.0, 0.0, 0.0, 4.991612, 0.0, 0.0),
 (23, 1651941735, 21, 6241.0, 0.0, 0.0, 0.0, 0.0, 5.241252, 0.0, 0.0),
 (24,
  1651941735,
  22,
  6249.1,
  0.0,
  0.0,
  0.0,
  0.0,
  5.4908920000000006,
  0.0,
  0.0),
 (25, 1651941735, 23, 6243.7, 0.0, 0.0, 0.0, 0.0, 5.740856000000001, 0.0, 0.0),
 (26, 1651941735, 24, 6246.4, 0.0, 0.0, 0.0, 0.0, 5.990604000000001, 0.0, 0.0),
 (27,
  1651941735,
  25,
  6246.4,
  0.0,
  0.0,
  0.0,
  0.0,
  6.2404600000000015,
  0.0,
  0.0),
 (28, 1651941735, 26, 6246.4, 0.0, 0.0, 0.0, 0.0, 6.490316000000002, 0.0, 0.0),
 (29, 1651941735, 27, 6227.5, 0.0, 0.0, 0.0, 0.0, 6.740172000000002, 0.0, 0.0),
 (30, 1651941735, 28, 6092.4, 0.0, 0.0, 0.0, 0.0, 6.989272000000002, 0.0, 0.0)]