In [2]:
import pandas as pd
import sqlite3
import csv

In [6]:
df= pd.read_csv('CoilDataInput.csv')
df.dtypes

coil                                   int64
furnace Number                         int64
analyse                               object
Hardness_1                             int64
Hardness_2                             int64
Width                                float64
Temperature before finishing mill    float64
Temperature after finishing mill     float64
Thickness                            float64
Thickness profile                    float64
C                                      int64
Mn                                     int64
Si                                     int64
Nb                                     int64
P                                      int64
S                                      int64
Al                                     int64
M_Al                                   int64
B                                      int64
N                                      int64
Ti                                     int64
Cr                                     int64
V                                      int64
Mo                                     int64
dtype: object

In [7]:
df

,coil,furnace Number,analyse,Hardness_1,Hardness_2,Width,Temperature before finishing mill,Temperature after finishing mill,Thickness,Thickness profile,...,P,S,Al,M_Al,B,N,Ti,Cr,V,Mo
0,283642,4,L651,12157,122,1731.316667,0.000000,906.25,4.35100,44.337225,...,133,11,326,319,3,62,29,3469,10,18
1,283643,1,KN71,11888,124,1602.800000,0.000000,887.75,3.74800,56.353765,...,142,76,309,291,1,51,9,145,1,15
2,283644,4,KM81,12419,129,1637.133333,0.000000,878.50,3.00950,48.505748,...,190,66,343,332,1,39,11,176,0,11
3,283645,1,KM31,11106,116,1697.450000,0.000000,869.50,3.01300,38.305057,...,136,56,322,283,1,57,14,209,0,10
4,283646,4,KM31,11106,116,1693.975000,0.000000,878.50,3.01300,36.405860,...,136,56,322,283,1,57,14,209,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25298,350538,1,LM41,13043,136,766.033333,1188.085160,904.75,2.19975,29.012289,...,232,33,323,312,2,44,20,208,19,21
25299,350539,4,KM41,11473,120,821.300000,1160.497725,908.75,2.00050,26.631035,...,154,79,267,251,1,35,12,169,8,12
25300,350540,1,KM81,12368,129,775.950000,1195.974522,899.00,2.50900,34.303870,...,140,46,331,319,1,38,9,155,2,10
25301,350541,1,LM41,13027,136,769.300000,1182.732661,907.50,2.24750,27.411123,...,236,31,309,296,2,53,21,251,28,18
25302,350894,4,LK41,13032,136,1486.016667,1179.402243,887.00,4.51375,29.880353,...,149,22,385,372,2,47,31,179,13,15

In [13]:
df['analyse'] = df['analyse'].astype(pd.StringDtype())

In [14]:
df.dtypes

coil                                   int64
furnace Number                         int64
analyse                               string
Hardness_1                             int64
Hardness_2                             int64
Width                                float64
Temperature before finishing mill    float64
Temperature after finishing mill     float64
Thickness                            float64
Thickness profile                    float64
C                                      int64
Mn                                     int64
Si                                     int64
Nb                                     int64
P                                      int64
S                                      int64
Al                                     int64
M_Al                                   int64
B                                      int64
N                                      int64
Ti                                     int64
Cr                                     int64
V                                      int64
Mo                                     int64
dtype: object

In [ ]:
df.to_csv('coilDataInput1.csv', index=False)